<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="welcome-message" id="welcomeMessage">Welcome</div>
    <p class="register"><a href="/register">Sign Up</a></p>
    <p class="login"><a href="/login">Log In</a></p>
    <div class="signout-btn">
        <button id="signoutBtn">Sign Out</button>
    </div>
    <div id="errorMessage"></div>
    <img src="../public/images/crosscare.png" class="logo">

    <script src="../public/js/startPage.js"></script>
</body>
</html>