h1 {
    text-align: center;
}

.logo {
    display: block;
    max-width: 5%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-message {
    text-align: center;
}

.register {
    text-align: center;
}

.email {
    text-align: center;
    margin-bottom: 5px;
}

.password {
    text-align: center;
    margin-bottom: 10px;
}

.login-text {
    text-align: center;
}

.login {
    text-align: center;
}

#submitBtn {
    align-items: center;
    border-radius: 4px;
    border: 2px solid #09153c;
    transition-duration: 0.3s;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #09153c;
    color: white;
}

.signout-btn {
    text-align: center;
}

#signoutBtn {
    border-radius: 4px;
    border: 2px solid #09153c;
    transition-duration: 0.3s;
    cursor: pointer;
}

#signoutBtn:hover{
    background-color: #09153c;
    color: white;
}

